body {
    font-family: Arial, sans-serif;
    margin: 15px;
    background-color: #f4f4f4;
    color: #333;
}

#ani-me {
    border-radius: 50%;
}

.header {
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: dotted 3px #f40000;
    margin: auto;
}

h1, h2, h3 {
    border-bottom: 1px dotted #f4f4f4;
    padding-bottom: 5%;
}

.skills ul {
    list-style: none;
    padding-left: 0;
}

.skills li {
    margin: 8px 0;
}

.star {
    background-color: #f82617;
    border-radius: 18px;
    color: #ffeb33;
}

.footer {
    margin-top: 30px;
    text-align: center;
    padding-top: 25px;
    border: dotted 3px #f82617;
}

.footer img {
    width: 150px;
    border-radius: 50%;
}

.social-media img {
    width: 30px;
    margin: 0 10px;
}

a:hover {
    opacity: 0.7;
}